*{
  padding: 0%;
  margin: 0%;
  
}
.parent{
  display: flex;
  flex-wrap: wrap;

}
.card{
  background-color: rgb(218, 194, 241);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  width: 100px;
  text-align: center;
  
}

img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}
